<html>
    <head>
        <title>about</title>
    </head>
    <body>
        <h1>this pages contains about</h1>
        <p>how are you</p>
        <p>my name is leah am  a student at TTU a third year student pursuing bachelors of science in information technology.<br> 
            welcome to my page feel free to ask questions am always available to answer your questions.<br>
            i am always available for at my email address
        </p>
        <a href="/project/">page</a>
    </body>
</html>