<html>
    <head>
        <title>project</title>
        <title>welcome</title>
    </head>
    <body>
        <h1>this is my project</h1>
        <p>this project contains how you can run a course online without necessarily going to the class<br>
        it contains simpler way to learn<br>
    </p>
    <a href="https://example.com/project">project</a>
    
    <h2>welcome</h2>
    <p>this is to welcome you to my account <br>
    it contains you here for  the time being<br></p>
    <a href="https:example.com/welcome">welcome</a>
    <h3>thank you</h3>
    <p>thank you for visiting my page <br> you are a good person</p>
    <a href="https://example.com/thank you">thank you</a>
    </body>
</html>